<div class="board">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <p>Task Board</p>

            <div>
                <span>Total Task: <b>{{tasks.length + listTeamOne.length + listTeamTwo.length}} </b>--</span>
                <span>In Progress Task: <b>{{listTeamOne.length }} </b>--</span>
                <span>Completed Task: <b>{{listTeamTwo.length }}</b></span>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        To Do
                    </div>
                    <div class="panel-body scroll-list" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="tasks">
                        <ul class="list-group">
                            <li *ngFor="let item of tasks; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'ToDo')" (click)="openTask(item)" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                <span *ngFor="let people of peoples">
                                  <img *ngIf="item.people == people.id" src="{{people.photo}}" alt="{{people.name}}">
                                </span> {{item.title}}
                                <div class="remaining">
                                    Remaining {{ item.endDate | amDifference: item.startDate :'days' : true }} days
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        In Progress
                    </div>
                    <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamOne">
                        <ul class="list-group">
                            <li *ngFor="let item of listTeamOne; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'Progress')" (click)="openTask(item)" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                <span *ngFor="let people of peoples">
                                    <img *ngIf="item.people == people.id" src="{{people.photo}}" alt="{{people.name}}">
                                  </span> {{item.title}}
                                <div class="remaining">
                                    Remaining {{ item.endDate | amDifference: item.startDate :'days' : true }} days
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Completed
                    </div>
                    <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="listTeamTwo">
                        <ul class="list-group">
                            <li *ngFor="let item of listTeamTwo; let i = index" dnd-droppable (onDropSuccess)="addTo($event, item, 'Completed')" (click)="openTask(item)" class="list-group-item" dnd-sortable [sortableIndex]="i">
                                <span *ngFor="let people of peoples">
                                  <img *ngIf="item.people == people.id" src="{{people.photo}}" alt="{{people.name}}">
                                </span> {{item.title}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

                <kendo-chart [seriesColors]="['#5dc366', '#ff6358']">
                    <kendo-chart-legend position="top"></kendo-chart-legend>
                    <kendo-chart-series>
                        <kendo-chart-series-item type="pie" [data]="pieData" field="value" categoryField="category">
                            <kendo-chart-series-item-tooltip background="#ffc000">
                            </kendo-chart-series-item-tooltip>
                        </kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </div>
        </div>

        <div class="popup-wrapper">
            <kendo-dialog title="Task Details" *ngIf="opened" (close)="close('cancel')">
                <div class="main-body">
                    <h2>{{seletedTaskTitle}}</h2>
                    <p>Start :{{selectedTaskStartDate | date}} - End: {{selectedTaskEndDate | date}}</p>

                    <!-- Who will do this task -->
                    <p class="people-name" style="color: #33c8af">Responsible People</p>
                    <span *ngFor="let people of peoples">
                      <img *ngIf="seletedTaskPeople == people.id" src="{{people.photo}}" alt="{{people.name}}">
                      <p *ngIf="seletedTaskPeople == people.id">{{people.name}}</p>
                    </span>

                </div>
                <kendo-dialog-actions>
                    <button kendoButton (click)="close('start')"><span class="k-icon k-i-star k-icon-64"></span>
                    </button>
                    <button kendoButton (click)="close('love')" primary="true"><span class="k-icon k-i-heart k-icon-64"></span>
                    </button>
                </kendo-dialog-actions>
            </kendo-dialog>
        </div>

    </div>
</div>