.contributor {
  img {
    width: 50px;
    border-radius: 50%;
  }
  .popup-wrapper {
    .main-body {
      text-align: center;
      h2 {
        font-size: 20px;
      }
      img {
        width: 110px;
      }
    }
  }
}